<div class="search-and-list-container">
    <!-- Search Component -->
    <app-search></app-search>

<div *ngIf="artObject" class="art-object-details">
    <h2>Art Object Details</h2>
    <div *ngFor="let key of objectKeys(artObject)">
      <strong>{{ formatKey(key) }}:</strong> {{ artObject[key] }}
    </div>
  
    <h2>Ownership History</h2>
      <li *ngFor="let ownership of ownerships">
        <div *ngFor="let key of objectKeys(ownership)">
          <strong>{{ formatKey(key) }}:</strong> {{ ownership[key] }}
        </div>
      </li>

      <h2>Ownership Timeline</h2>
      <div class="timeline">
      <div class="timeline-event" *ngFor="let event of timelineEvents">

        <div class="timeline-content">
            <h3 class="owner-name">{{ event.ownerName }}</h3>
            <p class="period">{{ event.period }}</p>
            <p class="description">{{ event.description }}</p>
        </div>
    </div>
  </div>

  </div>
</div>

