.info-container {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Add space between search and list */
    top:300px; 
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
  }
  
  .image-container {
    flex: 2;
    max-width: 100%;
    padding-right: 20px;
  }
  
  .text-container {
    flex: 2;
    max-width: 50%;
  }
  
  img {
    max-width: 100%;
    /* height: auto; */
  }
  