.info-container {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    align-items: flex-start; /* Align items at the top */
    justify-content: space-between; /* Add space between search and list */
    top:200px; 
    align-items: center;

  }
  
  .image-container {
    flex: 2;
    max-width: 100%;
    padding-right:50px;
  }
  
  .text-container {
    flex: 2;
    max-width: 50%;
    padding-right:150px;
    padding-left:150px;
  }
  
  /* img {
    max-width: 200%; 
    max-height: auto;
  } */
  
 img {
    width: 104%; /* Make the image 2 times wider */
    height: 104%; /* Make the image 2 times taller */
  }