<div class="info-container">
    <div class="image-container">
      <img src="assets/main-image.jpg" alt="Main Image">
    </div>
    <div class="text-container">
      <h2>ALIU Interface</h2>
      <p>The ALIU Interface, an evolution of the World War II-era Art Looting Investigation Unit, 
        is a vital resource for information on art looted during the war, particularly those taken from Jewish victims of the Nazi regime. 
        This database is essential for provenance researchers, historians, and academics, aiding in the identification, documentation, and recovery of stolen artworks. 
        It plays a key role in deepening the understanding of the extent of art looting during the Holocaust.
        While primarily an academic tool, the ALIU Interface additionally provides support to Jewish families and heirs, 
        aiding in the recovery of their heritage and connecting historical research with real-world impact.
        By maintaining the legacy of the original ALIU, the database not only preserves an important part of history but also furthers efforts in art restitution. 
        It underscores the necessity of addressing the cultural losses of the Holocaust, offering crucial support to those seeking to recover their cultural heritage</p>

    </div>
  </div>
  
