<header class="header">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700|Montserrat:400,700&display=swap" rel="stylesheet">

   
      <!-- <img src="assets/logo.png" alt="Your Logo"> -->
      
      <span class="title1">ALIU</span>
      <span class="title2">INTERFACE</span>


    <div class="nav-links">
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/reports" routerLinkActive="active">ALIU Reports</a>
    </div>
  </header>
  
  <router-outlet></router-outlet>
  
